<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<section name="xmlauth" type="Conekt.XmlAuthentication.Configuration.ConfigurationManager, Conekt.XmlAuthentication.Configuration" />
	</configSections>
	<appSettings>
		<add key="DemoUrl" value="~/demo" />
		<add key="GitHubProjectUrl" value="https://github.com/bjorn-aadnesgaard/conekt.xmlauthentication" />
		<add key="GitHubDownloadUrl" value="https://github.com/bjorn-aadnesgaard/conekt.xmlauthentication/archive/master.zip" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<customErrors mode="Off" />
		<httpRuntime targetFramework="4.5" />
		<authentication mode="Forms">
			<forms timeout="15" loginUrl="~/demo/login.aspx" name="XmlAuthentication" slidingExpiration="false" protection="All" requireSSL="false" />
		</authentication>
		<machineKey />
		<webServices>
			<protocols>
				<add name="HttpGet"/>
				<add name="HttpPost"/>
			</protocols>
		</webServices>
	</system.web>
	<system.net>
		<mailSettings>
			<smtp from="">
				<network host="" enableSsl="false" userName="" password="" port="587" />
			</smtp>
		</mailSettings>
	</system.net>
	<xmlauth>
		<settings applicationName="ASP.NET XML Authentication" allowRegistration="true" verificationRequired="false" loginUrl="/#!/login" passwordResetUrl="/#!/reset" passwordChangeUrl="/#!/change" />
	</xmlauth>
</configuration>